.main-desktop-flex {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}
.main-movie-div {
	margin-top: 32px;
}
@include medium {
	.main-movie-div {
		margin-top: 0;
	}
}

@include large {
	.main-desktop-flex {
		display: flex;
		margin: 40px 12.5% 10px 12.5%;
	}
	.main-movie-div {
		width: 66%;
		padding-right: 1px;
		border-right: 1px solid $dividerColour;
		margin-right: 2%;
	}
}
