.comments {
	margin: 0 5%;
	&__heading {
		margin-top: 40px;
	}
	&__input {
		width: 100%;
	}
	&__input-heading {
		opacity: 0.5;
		margin-left: 20%;
		margin-top: 32px;
		margin-bottom: 0;
	}
	&__input-text {
		border: 1px solid #0065ad;
		width: 70%;
		margin-left: 12px;
		border-radius: 4px;
	}
	&__input-avatar {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		margin: 8px 5px 32px;
	}
	button {
		display: flex;
		justify-content: center;
		width: 70%;
		height: 48px;
		border-radius: 4px;
		margin: 8px 0 24px 20%;
		border-bottom: 2px solid $dividerColour;
		color: #fff;
		background-color: $brainflixBlue;
		border-radius: 4px;
	}
	.comments__input-div-avatar {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		margin: 8px 5px 32px;
		float: left;
	}
	.comments__input-div-info {
		display: flex;
		flex-wrap: wrap;
		width: 80%;
	}
	.comments__input-div-date {
		height: 20px;
		margin-top: 20px;
		margin-left: 5px;
		opacity: 0.5;
	}
}
