@font-face {
	src: url(../../assets/fonts/avenir/avenir-next-regular.otf);
	font-family: "AvenirRegular";
	font-style: normal;
}

@font-face {
	src: url(../../assets/fonts/avenir/avenir-next-bold.otf);
	font-family: "AvenirBold";
	font-style: normal;
}

@font-face {
	src: url(../../assets/fonts/avenir/avenir-demi-bold.otf);
	font-family: "AvenirDemi";
	font-style: normal;
}
