.next__video {
	margin: 0 5%;
	display: flex;
	flex-wrap: wrap;

	.next__video-image {
		width: 45%;
		height: 100px;
		border-radius: 4px;
		margin-right: 5%;
	}
	.next__video-info {
		width: 50%;
	}
}
