.next__video {
	display: flex;
	align-items: center;
	margin: 20px 0 20px 0;

	&-main {
		margin: 0 5%;
	}
	&-image {
		width: 120px;
		height: 70px;
		border-radius: 4px;
		margin-right: 5%;
		object-fit: cover;
	}
	&-info {
		width: 50%;
	}
	&-heading {
		margin: 0;
	}
}
@include medium {
	h1 {
		font-size: 36px;
		line-height: 44px;
	}
	h2 {
		font-size: 24px;
		line-height: 32px;
	}
	h3 {
		font-size: 16px;
		line-height: 24px;
	}
	h4 {
		font-size: 14px;
		line-height: 20px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}
	.next__video {
		padding: 8px 0px;
		height: 88px;
	}
	.next__video-image {
		height: 70px;
	}
	.next__video-info {
		width: 21%;
	}
	.next__video-heading {
		margin: 0;
	}
}

@include large {
	.next__video-main {
		width: 25.5%;
		margin: 0 2%;
	}
	.next__video {
		margin-top: 37px;
		height: 77px;
	}
	.next__video-image {
		margin-top: 5px;
	}
	.next__video-info {
		width: 56%;
	}
	.next__video-heading {
		margin: 6px 0 5px 7%;
	}
}
