.next__video {
	display: flex;
	align-items: center;
	margin: 20px 0 20px 0;

	&-main {
		margin: 0 5%;
		&-heading {
			opacity: 0.6;
			margin: 40px 0;
		}
	}
	&-image {
		width: 120px;
		height: 70px;
		border-radius: 4px;
		margin-right: 5.6%;
		object-fit: cover;
	}
	&-info {
		width: 50%;
	}
	&-heading {
		margin: 0;
	}
	&-heading-bold {
		margin: 0;
		font-weight: bolder;
		padding-bottom: 16px;
	}
}
@include medium {
	h1 {
		font-size: 36px;
		line-height: 44px;
	}
	h2 {
		font-size: 24px;
		line-height: 32px;
	}
	h3 {
		font-size: 16px;
		line-height: 24px;
	}
	h4 {
		font-size: 14px;
		line-height: 20px;
	}
	h5 {
		font-size: 12px;
		line-height: 20px;
	}
	.next__video {
		padding: 8px 0px;
		height: 88px;

		&-image {
			height: 70px;
		}

		&-info {
			width: 21%;
		}
		&-heading {
			margin: 0;
		}
	}
}

@include large {
	.next__video-main {
		width: 25.5%;
		margin: 0 2%;
	}
	.next__video {
		margin: 20px 0;
		&-main {
			margin: 0;
			width: 44%;
			margin-left: 2%;
		}
		&-image {
			margin-top: 0;
		}
		&-info {
			width: 56%;
			height: 83px;
		}
		&-heading {
			margin: 0;
			height: 20px;

			&-bold {
				padding-bottom: 0;
			}
		}
	}
}
