/* Create a variable first  $variable name*/
/*global colours for all projects*/
/*bandsite only images*/
/*media query for mobile using max width so that it doesn't have a break at min-width*/
/*media query for tablet*/
/*media query for  landscape, large pixel density desktop*/
html,
body {
  margin: 0;
  font-family: "AvenirRegular";
  line-height: 1.8rem;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 14px;
  line-height: 22px;
}

h4 {
  font-size: 13px;
  line-height: 18px;
}

h5 {
  font-size: 12px;
  line-height: 20px;
}

.header {
  margin: 10px 5% 0 5%;
  height: 169px;
}

.header__search-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  height: 48px;
}

.header__search-bar {
  width: 100%;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 48px;
  border-radius: 4px;
  margin-top: 8px;
  color: #fff;
  background-color: #0095ff;
}

.header__search-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 4%;
  margin-top: 8px;
}

.header .search-bar-text {
  width: 100%;
  height: 49px;
  padding-left: 35px;
  border-radius: 4px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
  .header .search-bar-text {
    width: 50%;
  }
  .header .header__search-button {
    width: 20%;
    margin-top: 0;
    margin-left: 6%;
  }
  .header .header__search-bar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 80px;
    width: 70%;
    margin-left: 24.5%;
  }
  .header .header__search-avatar {
    margin: 0;
    margin-left: 6%;
  }
}

.hero {
  width: 100vw;
  height: 189px;
  margin-top: 16px;
}

.hero__video {
  width: 100%;
  height: 189px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .hero {
    margin-top: 0;
    height: 433px;
  }
  .hero__video {
    height: 433px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1440px) {
  .hero {
    height: 540px;
  }
  .hero__video {
    height: 540px;
  }
}

.movie__description {
  margin: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie__paragraph {
  padding-top: 24px;
  border-top: 1px solid #d5d2d1;
  margin-top: 0;
}

.flex-movie-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 20px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .movie__description {
    margin: 40px 4%;
  }
}

@media only screen and (min-width: 1440px) {
  .movie__heading-two, .movie__heading-three {
    margin-top: 0;
  }
}

.comments {
  margin: 0 5%;
}

.comments__nav {
  display: inline-block;
}

.comments__heading {
  margin-top: 40px;
}

.comments__input {
  width: 100%;
}

.comments__input-heading {
  opacity: 0.5;
  margin-left: 20%;
  margin-top: 32px;
  margin-bottom: 0;
}

.comments__input-text {
  border: 1px solid #0065ad;
  width: 70%;
  margin-left: 12px;
  border-radius: 4px;
}

.comments__input-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 15px 5px 15px;
}

.comments__input-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  height: 48px;
  border-radius: 4px;
  margin: 8px 0 24px 20%;
  border-bottom: 2px solid #d5d2d1;
  color: #fff;
  background-color: #0095ff;
  border-radius: 4px;
}

.comments__input-div-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 8px 5px 32px;
  float: left;
}

.comments__input-div-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90.3%;
}

.comments__input-div-date {
  height: 20px;
  margin-top: 20px;
  margin-left: 5px;
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .comments__input-div {
    border-bottom: 1px solid #d5d2d1;
  }
  .comments__heading {
    margin-top: 64px;
  }
  .comments__input-text {
    width: 64.6%;
    height: 40px;
  }
  .comments button {
    width: 26.6%;
    height: 40px;
    margin: 0;
    margin-left: 5%;
  }
  .comments__input-avatar {
    margin: 0;
    margin-left: 1%;
  }
  .comments__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 24px;
    border-bottom: 1px solid #d5d2d1;
  }
}

@media only screen and (min-width: 1440px) {
  .comments {
    margin: 0 2%;
    width: 712px;
  }
  .comments__heading {
    margin-top: 40px;
  }
  .comments__input-div {
    width: 100%;
  }
}

.next__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 20px 0;
}

.next__video-main {
  margin: 0 5%;
}

.next__video-image {
  width: 120px;
  height: 70px;
  border-radius: 4px;
  margin-right: 5%;
  -o-object-fit: cover;
     object-fit: cover;
}

.next__video-info {
  width: 50%;
}

.next__video-heading {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  .next__video {
    padding: 8px 0px;
    height: 88px;
  }
  .next__video-image {
    height: 70px;
  }
  .next__video-info {
    width: 21%;
  }
  .next__video-heading {
    margin: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .next__video-main {
    width: 25.5%;
    margin: 0 2%;
  }
  .next__video {
    margin-top: 37px;
    height: 77px;
  }
  .next__video-image {
    margin-top: 5px;
  }
  .next__video-info {
    width: 56%;
  }
  .next__video-heading {
    margin: 6px 0 5px 7%;
  }
}

@media only screen and (min-width: 1440px) {
  .main-desktop-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px 12.5% 0 12.5%;
  }
}
/*# sourceMappingURL=main.css.map */