/* Create a variable first  $variable name*/

/*global colours for all projects*/

$paraText: #323232;
$textLabel: #afafaf;
$textBorder: #e1e1e1;
$textBackground: #fafafa;
$dividerColour: #d5d2d1;

/*bandsite only images*/

$navBackground: #323232;
$brainflixBlue: #0095ff;
$primHoverCta: #0065ad;
$primeCta: #323232;
