@font-face {
	src: url("../assets/fonts/avenir/avenirLight.otf");
	font-family: "AvenirLight";
	font-style: normal;
}

@font-face {
	src: url("../assets/fonts/avenir/avenirBold.otf");
	font-family: "AvenirBold";
	font-style: normal;
}

@font-face {
	src: url("../assets/fonts/avenir/avenirRegular.otf");
	font-family: "AvenirRegular";
	font-style: normal;
}
@font-face {
	src: url("../assets/fonts/avenir/avenirULight.otf");
	font-family: "AvenirULight";
	font-weight: bold;
}
